.container {
    display: flex;
    margin-top: 110px;
    margin-left: 260px;
    gap: 80px;
    
}
body {
    background-color: rgb(246 255 255);
}

.card1 {
    background-color: white;
    height: 120px;
    width: 210px;
    padding-left: 30px;
    border-bottom: solid 3px orange;
}
.card2 {
    background-color: white;
    height: 120px;
    width: 210px;
    padding-left: 30px;
    border-bottom: solid 3px lightseagreen;
}
.card3 {
    background-color: white;
    height: 120px;
    width: 210px;
    padding-left: 30px;
    border-bottom: solid 3px purple;
}